<div>
  <h1>Trip summary</h1>
  <h2>Flight on: <%= @booking.flight.travel_date.departure_date %></h2>
  <h3> At <%= @booking.flight.departure_time %> hour </h3>
  <tr>
    <td>From: <%= @booking.flight.from_airport.name %> </td>
    <td><%= @booking.flight.to_airport.name %></td>
    <td>Duration: <%= @booking.flight.duration %>
  </tr>
        
  <h1>Passenger details</h1>
  <table>
  <tr>
    <th>Passenger name</th>
    <% @booking.passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.name %></td>
        <td><%= passenger.email %></td>
      </tr>
    <% end %>
  </table>

      <%= link_to 'Book another flights', root_path %>
</div>

